@import url('https://fonts.googleapis.com/css?family=Lato');

html,
body {
  font-family: 'Lato', sans-serif;
  min-width: 320px;
  background-color: #cfd8dc;
}

#title {
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
}
#main {
    margin: 15px;
    display: flex;
    max-height: 90vh;
    text-align: center;
    overflow-y: auto;
    flex-direction: column;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0)
      
}
#second {
    flex: 1 1 auto;
    padding: 0 24px 24px 24px;
    overflow-y: auto;
    position: relative;
    background-color: #fff;
}
#button {
    flex: 0 0 auto;
    margin: 8px 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.btn-background {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn-background:hover {
   background-color: #fff;
   opacity: 0.4;
}
.row {
  display: block;
  align-items: center;
  padding: 5px;
}
.subtitle {
  display: flex;
  color: #2196f3;
  align-items: center;
  justify-content: center;
  padding: 5px;
  }
.label {
  padding-right: 5px;
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}
.rightSide {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}
.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}
.dropdown {
  height: 30px;
  width: auto;
  padding: 5px;
  margin: 10px;  
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}
.list {
  float: left;
  margin-right: 5px;
}
.radio, .checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
}

#cta {
  display: flex;
  justify-content: space-around;
  
}
#submit {
  color: #fff;
  background-color: #2196f3;
  text-transform: uppercase;
  line-height: 1.4em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  border-radius: 4px;
  padding: 7px 8px;
  min-width: 64px;
  font-size: 0.8125rem;
  min-height: 32px;
  margin: 10px;
  border: 0px solid;  
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0);
}
#submit:hover {
  cursor: pointer;
  opacity: 0.9;
}

@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}
@media screen and (max-width: 520px) {
  .label {
    width: 100%;
    text-align: left;
  }
  .subtitle {
    width: 80%;
  }
  #cta {
   width: 100%; 
  }
  .rightSide {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
